version: "3.9"

services:
  backend:
    build: ./backend
    container_name: funding_backend
    ports:
      - "5000:5000"
    depends_on:
      - mysql
      - redis
    env_file:
      - .env
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: rootpassword
      DB_NAME: funding_db
      REDIS_HOST: redis
      REDIS_PORT: 6379

  mysql:
    image: mysql:8.0
    container_name: funding_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: funding_db
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"

  redis:
    image: redis:7
    container_name: funding_redis
    ports:
      - "6379:6379"

volumes:
  mysql_data:
